{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}{{ rubric.name }}{% endblock %}

{% block searchform %}
{% endblock %}

{% block content %}
<h2 class="mb=2">{{ rubric.name }}</h2>
<div class="container-fluid mb-2">
    <div class="row">
        <div class="col">&nbsp;</div>
        <form class="col-md-auto form-inline">
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button content='Искать' button_type='submit' %}
        </form>
    </div>
</div>
{% if bbs %}
<ul class="list-unstyle">
    {% for bb in bbs %}
    <li class="media my-5 p-3 border">
        {% url 'main:detail' pk=bb.pk as url %}
        <a href="{{ url }}">
        {% if bb.image %}
        <img class="mr-3" width="100" height="100" src="{{ bb.image.url }}" alt="">
        {% else %}
        <img class="mr-3" width="100" height="100" src="{% static 'main/empty.png' %}" alt="">
        {% endif %}
        </a>
        <div class="media-body">
            <h3><a href="{{ url }}">{{  bb.title }}</a></h3>
            <div class="">{{ bb.content }}</div>
            <p class="text-right font-weight-bold">{{ bb.price }} руб.</p>
            <p class="text-right font-italic">{{ bb.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% bootstrap_pagination page url=keyword %}
{% endif %}
{% endblock %}
